.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    background-color: #00ffdd;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 200px;

}